<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fceh.isaelemoigne.applifceh">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/fceh"
        android:label="FCEH"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AjoutJoueurs" />
        <activity
            android:name=".Acceuil"
            android:label="@string/title_activity_acceuil"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>